<!DOCTYPE html>
<html ng-app="Camplist">
<head>
  <title>Camping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/home.css" type="text/css">
  <link rel="stylesheet" href="/css/packing.css" type="text/css">  
  <link rel="stylesheet" href="/css/contact.css" type="text/css">  
  <link rel="stylesheet" href="/css/about.css" type="text/css">  

  <!-- <link rel="stylesheet" href="/css/home.css" type="text/css">   -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <base href="/">
</head>
<body>
  <ul>
    <li>
      <a class="navlink" a class="nav-link" ui-sref="home">Home</a>
    </li>
    <li>
      <a class="navlink" a class="nav-link" ui-sref="about">Our Story</a>
    </li>
    <li>
      <a class="navlink" a class="nav-link" ui-sref="contact">Contact</a>
    </li>
    <li>
      <a class="navlink" a class="nav-link" ui-sref="packing">Packing list</a>
    </li>
  </ul>
  <main ui-view></main>
  <!--app scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script> $(".message a").click(function () {
      $("form").animate({ height: "toggle", opacity: "toggle" }), "slow"
    }); </script>
  <!-- <script src="/node_modules/angular/angular.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
  <script src="/javascript/angular_app.js"></script>
  <!-- <script src="/javascript/controllers/homecontroller.js"></script>  --> -->
  </div>
</body>
<footer>
  <p>Contact information: leahqueentech@gmail.com</p>
      <p>Find us on Facebook!</p>
  </p>
</footer>
</html>