/* Packing list page */
.column {
    float: left;
    width: 33.33%;
    background-color: black;
  }
  div.columns       { 
    width: 900px; 
    margin: 0 auto;
  }
  div.columns div   { 
    width: 300px; 
    height: 100px; 
    float: left; 
  }
  div.grey    {      
     background-color: #cccccc; 
    }
  div.red           { 
    background-color: #e14e32; 
  }
  div.clear         { 
    clear: both; 
  }
  .red {
    text-align: center;
  }
  .grey {
    text-align: center;
  }
  