

    <h1 class="text">
        Thanks for stopping by!
    </h1>
    </head>
    <body>
    <div id="paragraph">
            <p> 
                We ourselves are avid campers with a passion for exploring!
                 No one understands more than we do that packing for a camping trip is overwhelming.
                This is why we have decided to do the hard work for you. 
                Inside you will find pre-generated lists according to different types of weather
                as well as one you can create yourself. 
             </p>
            </div>
            <div class ="wrapper">
                <button class ="button">Click here to check out the lists</button>
                </div>
                </button>
            </body>
 </html>