
    <body>
    <div class = "container">
        <form action = "action_page.php">
            <lable id = "fname">First name</lable>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <lable id = "lname">Last name</lable>
            <input type="text" id="lname" name="lastname" placeholder="Your name..">


            <lable id = "subject">Subject</lable>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
  </body>
 </html>