<!DOCTYPE html>
<title>Camping</title>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css"> 
    <link rel="stylesheet" href="/css/style.css" type="text/css">
 
<div id="h1">
    <h1> Don't know what to pack? We can help!</h1>
    <h2>We are a responisve list application to help you prepare for your next camping adventure.</h2>
    <h3>Login below to save your list</h3>
</head>
<body>
    <div class="login-page">
    <div class="form">
    <form class="register-form" />
    <input type="text" placeholder="Username" />
    <input type="text" placeholder="Password" />
    <input type="text" placeholder="Firstname" />
    <input type="text" placeholder="Lastname" />
    <button>Create</button>
    <p class="message">Already registered?
      <a href="mongodb://admin:1234@ds151078.mlab.com:51078/leah123"> Login </a>
    </p>
    </form>
    <form class="login-form">
    <input type="text" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <button>login</button>
    <p class="message">Not Registered?
      <a href="mongodb://admin:1234@ds151078.mlab.com:51078/leah123"> Register </a>
    </p>
    </form>
    </div>
    </div>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script> $(".message a").click(function () {
      $("form").animate({ height: "toggle", opacity: "toggle" }), "slow"
    }); </script> <script src="/node_modules/angular/angular.min.js"></script> -->
    </body>
    <footer>
        <p>Contact information: leahqueentech@gmail.com</a>
          <p>Find us on Facebook!</p>
        </p>
      </footer>
    </html>
    
  