<!DOCTYPE html>
<title>Camping</title>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css" type="text/css">  
</head>
<body>
        <h2>Three Equal Columns</h2>
    <div class = "row">
        div class = "cold weather list"</div>
        <h2>Column 1</h2>
        div class = "warm weather list"</div>
        <h2>Column 2</h2>
        div class = "create your own"</div>
        <h2>Column 3</h2>
    </div>
</body>
</head>
</html>