<!--html ng-app="app"
<html>
                <script src="packingcomponents.js"></script>
                <script src="angular_app.js"></script>
                <script src="packingcontroller.js"></script> -->

                <h2>Here you will find the packing lists</h2>
                <ul>
                                <!-- li ng-repeat="x in controller.packing">
                                  {{x.items}}
                                </li-->
                                <li>{{controller.packinglist}}</li>
                                <li>{{controller.pack}}</li>
                                <!--li>{{controller.pack}}</li>
                                <li>{{pack}}</li> -->
                              </ul>

<!--/html>
        < <packing-list></packing-list> -->
        <!-- <div class= "row">
                <div class="column" style= "background-color: rgba(0, 0, 0, 0.5)">
                        <h2>Winter list</h2>
                        <input type= "checkbox" ng-model="all"> Check all<br></br>

                        <input type= "checkbox" ng-checked="all">Tent<br>
                        <input type= "checkbox" ng-checked="all">Sleeping bag<br>
                        <input type= "checkbox" ng-checked="all">Jacket
        </div>
                </div>
               
                                
                <div class="row">
                        <div class="column" style = "background-color: rgba(0, 0, 0, 0.5)">
                                <h2>Summer list</h2>
                                <input type= "checkbox" ng-model= "all"> Check all<br></br>

                                <input type= "checkbox" ng-checked="all">Tent<br>
                                <input type= "checkbox" ng-checked="all">Sleeping bag<br>
                                <input type= "checkbox" ng-checked="all">Pillow
                        </div>
                </div>

                <div class= "row">
                        <div class="column" style = "background-color: rgba(0, 0, 0, 0.5)">
                                        <div id="myDIV" class="header">
                                        <h2>Create your own list!</h2>
                                        <input type="text" id="myInput" placeholder="Title...">
                                        <span onclick="newElement()" class="addBtn">Add</span>
                                      </div>
                                     

                        </div>
                </div> -->
